.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-error {
    margin-top: 8px;
    color: red;
  }
  
  .login-button {
    margin-top: 16px;
  }
  
  .login-links {
    margin-top: 16px;
    text-align: center;
  }
  
  .signup-link {
    margin-top: 8px;
    text-align: center;
  }

  .social-login {
    margin-top: 24px; /* Adjust the value as needed to move it further down */
    width: 100%; /* Ensures the button aligns with other full-width components */
    display: flex;
    justify-content: center;
}

  