/* App Bar */
 .appBar {
    justify-content: center;
    background-color: #1976d2;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
  }
  
  /* Button Section */
  .button-section {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
  }
  
  .default-button {
    color: black;
    background-color:  #1c71c6;
  }
  
  .default-button:hover {
    background-color: lightgray;
  }
  
  .selected-button {
    color: #1976d2;
    background-color: #1c71c6;
  }
  
  .selected-button:hover {
    background-color: #115293;
  }
  
  .logout-button {
    color: black;
  } 
  
  .logout-button:hover {
    background-color: lightgray;
  }
  
  /* Profile Section */
  .profile-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
  }
  
  .edit-icon {
    margin-left: -20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 4px;
  }
  
  
  .edit-icon:hover {
    background-color: lightgray;
  }
  
  /* Input Fields */
  .input-field {
    width: 80%;
  }
  
  /* Settings Section */
  .settings-section {
    margin-top: 24px;
  }
  