:root {
    --menu-hover-background-color: #f0f0f0; 
    --text-secondary-color: #757575;
    --menu-border-color: #e0e0e0; 
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    border-bottom: 1px solid var(--menu-border-color); 
    background-color: var(--menu-background-color);
}

.user-avatar {
    width: 5.75rem; 
    height: 5.75rem; 
    border-radius: 50%; 
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem; 
    width: 40vh; 
    transition: background-color 0.3s ease; 
    color: var(--text-color); 
}

.menu-item:hover {
    background-color: var(--menu-hover-background-color);
    color: var(--text-color); 
}

.menu-item-icon {
    margin-right: 0.75rem; 
    color: var(--text-secondary-color); 
}

.expand-more-icon {
    transition: transform 0.3s, color 0.3s; 
    margin-left: auto;
}

.expand-more-icon.open {
    transform: rotate(0deg);
}

.expand-more-icon.closed {
    transform: rotate(-90deg);
}

@media (max-width: 768px) {
    .menu-item {
        width: 100%; 
    }
}
