/* App Bar */
 .appBar {
    justify-content: center;
    background-color: #1976d2;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
  }
  
  /* Button Section */
  .button-section {
    margin-top: 16px;
    margin-right: 10px;
    display: flex;
    justify-content: right;
  }
  
  
  /* Profile Section */
  .profile-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
   
  /* Input Fields */
  .input-field {
    width: 80%;
  }


  .update-button {
    position: relative;
  }

  .popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2196f3; /* Blue color */
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  