/* App Bar */
 .appBar {
    justify-content: center;
    background-color: #1976d2;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
  }
  
  /* Button Section */
  .button-section {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
  }
  
  
  /* Profile Section */
  .profile-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
   
  /* Input Fields */
  .input-field {
    width: 80%;
  }
  
  /* Settings Section */
  .settings-section {
    margin-top: 24px;
  }
  