/* General Home Screen */
.home-screen {
  height: 97vh;
  display: flex;
  flex-direction: column;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 16px;
}

/* AI Chat Section */
.ai-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Custom Paper Styling */
.custom-paper {
  padding: 16px;
  background-color: var(--panel-background); 
  border: 1px solid var(--panel-border);    
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
}
.ai-output {
  flex-grow: 1;
  background-color: var(--panel-background); 
  border: 1px solid var(--panel-border);        
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.icon-button {
  margin-right: 8px;
}

.input-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-input {
  margin-right: 16px;
}

.panel-content {
  background-color: var(--panel-background);
  border: 1px solid var(--panel-border);
  flex-grow: 1;
  padding: 16px;
  border-radius: 8px;
}

.output-text {
  padding: 8px;
  color: var(--text-color);
}

.error-detection {
  height: 10px;
}

.footer {
  height: 64px;
  background-color: var(--footer-background);
  padding: 16px;
  text-align: center;
  color: var(--text-color);
  border: 1px solid var(--panel-border);
}

/* Dynamic Theme Variables */
:root {
  --panel-background: #f5f5f558; 
  --panel-border: #b0bec5;
  --ai-output-background: #e3f2fd;
  --footer-background: #23222217;
  --text-color: #33333;
}

/* Dark Mode Overrides */
[data-theme='dark'] {
  --panel-background: #2c2c2c; 
  --panel-border: #c3c2c2;    
  --ai-output-background: #37474f;
  --footer-background: #232222;
  --text-color: #b9b9b9;
}
